*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: auto;
    width: 1480px;
    display: flex;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
    background-color: #1c1c1c;
}

.padd-20{
   padding: 100px;
}

h2{
    font-size: 40px;
    margin-bottom: 30px;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px; 
    background-color: #1c1c1c;
}

.logo img{
    width: 200px;
}

header .nav{
    display: flex;
    list-style: none;
}

.nav li{
    margin: 10px;
}

.nav li a{
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.nav li:first-child a{
    padding: 20px;
    border-right: 2px solid #ffffff;
}

.nav li a:hover{
    text-decoration: underline;
}

.confidence, .found{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #1c1c1c;
}

.confidence .items{
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.confidence .items div{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    color: #000;
    width: 350px;
    height: 300px;
    border: 3px solid #000;
    border-radius: 20px;
    font-size: 1.5em;
}

.confidence .items div{
    padding: 10px;
}

.confidence .items div img{
    width: 50%;
    height: 100px;
    margin: 20px 0 20px 0;
}

.found form{
    padding: 30px;
    border-radius: 0 0 30px 30px;
    background-color: #7c7c7c;
    margin-top: 20px;
}

.found form div{
    font-size: 24px;
    margin: 20px 0 20px 0;
}

.found form select{
    margin-left: 30px;
    width: 150px;
    height: 30px;
}

.found form button{
    font-size: 24px;
    width: 300px;
    height: 50px;
    cursor: pointer;
    border: none;
}

.found form button:hover{
    color: #fff;
    background-color: red;
}

.news{
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 500px));
    grid-auto-rows: minmax(auto, 300px);
    grid-gap: 40px;
    margin-top: 20px;
} 

.news div{
    height: 100%;
    border: 2px solid #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    grid-row: auto;
    margin: auto;
}

.news div img{
    max-width: 70%;
}

.news div h3{
    font-size: 20px;
    margin: 10px;
}

.news div a{
    color: #ff2e2e;
    margin-top: 10px;
    text-decoration: none;
}

.news div a:hover{
    text-decoration: underline;
}

footer{
    display: flex;
    justify-content: space-around;
    font-size: 24px;
}

footer a{
    text-decoration: none;
    color: #fff;
}

footer a:hover{
    text-decoration: underline;
}

.nav-footer{
    list-style: none;
}